---
import InventoryCaroussel from '../components/InventoryCaroussel.svelte';
import Contact from '../components/Contact.astro';
import WelcomeSection from '../components/WelcomeSection.astro';
import Layout from '../layouts/Layout.astro';
import type { vehicule } from '../type';

const apiBaseUrl = import.meta.env.API_URL;
let vehicules: vehicule[] = [];
const res = await fetch(`${apiBaseUrl}/api/vehicules`);
if (res.ok) vehicules = await res.json();
---

<Layout title="Catalogue Centra">
  <main>
    <WelcomeSection />
    <InventoryCaroussel vehicules={vehicules} client:load />
    <Contact />
  </main>
</Layout>

<style>
  .grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; }
  .card { border: 1px solid #ccc; padding: 1rem; border-radius: 8px; }
  img { max-width: 100%; height: auto; border-radius: 4px; display: block; margin-bottom: 10px; }
</style>