<div class="welcome-section flex flex-col items-center justify-center text-center h-[2211.8px]/4">
    <p>Establish MCMXCIX</p>
    <h1 class="title text-[72px] text-center font-bold">Junction Retro</h1>
    <p> ARCHIVAL AUTOMOTIVE EXCELLENCE</p>
</div>